main {
	h3 {
		text-align: left;
	}

	ul {
		list-style: none;
		row-gap: 2em;
	}

	li {
		display: grid;
		gap: 1em;
	}

	@media screen and (1024px <=width) {
		ul {
			display: initial;
		}

		li {
			margin-bottom: 1.5em;
		}

		section {
			grid-template-columns: 1fr;
		}
	}
}