main {
	h3 {
		padding: 0.5em;
	}

	article {
		background-color: var(--secondary-bg);
		border-radius: 1em;
	}

	ul {
		padding: 2em;
	}

	@media screen and (541px <=width) {
		section {
			&:nth-of-type(2) {
				img {
					height: 100%;
				}
			}
		}
	}
}