main {
	h3 {
		text-align: left;
	}

	li {
		display: grid;
		gap: 1rem;
	}

	@media (768px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1 _1 _1 _1 _1 _1 _1 _1 _1 _1"
					"_2 _2 _2 _2 _2 _2 _2 _2 _2 _2 _2 _2"
			}
		}
	}

	@media (1280px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1 _1 _1 _1 _1 _1 _1 _1 _1 _1"
					"_2 _2 _2 _2 _2 _2 _2 _2 _2 _2 _2 _2";
			}
		}

		ul {
			display: initial;
		}

		li {
			margin-bottom: 1.75em;
		}
	}
}