main {
	section {
		&:nth-of-type(2) {
			img {
				min-height: 200px;
			}
		}
	}

	@media screen and (541px <=width) {
		section {
			&:nth-of-type(3) {
				display: flex;
				justify-content: space-between;
				column-gap: 0;

				figure {
					width: 45%;

					&:last-of-type {
						margin: auto;
					}
				}
			}
		}
	}

	@media screen and (1024px <=width) {
		section {
			img {
				height: 100%;
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"h2 h2 h2"
					"ul img img";

				img {
					grid-area: img;
				}
			}

			&:nth-of-type(3) {
				display: grid;
				column-gap: 4rem;

				figure {
					width: 100%;
				}
			}
		}
	}
}