main {
	@media screen and (541px <=width) {
		section {
			picture {
				width: 65%;
				margin: auto;
			}
		}
	}

	@media screen and (925px <=width) {
		section {
			display: initial;

			h2 {
				margin-bottom: var(--row-gap);
			}

			p {
				margin-bottom: var(--row-gap);
			}

			picture {
				width: 100%;
			}

			&:nth-of-type(3) {
				img {
					margin-bottom: var(--row-gap);
				}
			}
		}
	}
}