main {
	@media screen and (541px <=width) {
		section {
			picture {
				width: 75%;
				margin: auto;
			}
		}
	}

	@media screen and (925px <=width) {
		section {
			picture {
				width: 100%;
				margin: 0;
			}

			img {
				height: 100%;
			}
		}
	}
}