main {
	@media screen and (541px <=width) {
		section {
			picture {
				width: 75%;
				margin: auto;
			}
		}
	}

	@media screen and (1083px <=width) {
		section {
			display: initial;

			h2 {
				margin-bottom: var(--row-gap);
			}

			p {
				&:is(:nth-of-type(1), :nth-of-type(2), :nth-of-type(4), :nth-of-type(5)) {
					margin-bottom: var(--row-gap);
				}
			}

			picture {
				width: 100%;
			}
		}
	}
}