main {
	div {
		position: relative;

		img {
			filter: opacity(70%);
		}

		h1 {
			display: flex;
			color: white;
			width: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}