main {
    section {
        &:nth-of-type(2) {
            article {
                text-align: center;

                h3 {
                    margin: 1.25em 0;
                }

                img {
                    width: 70%;
                    margin: auto;
                    border-radius: 50%;
                }
            }
        }

        &:nth-of-type(3) {
            article {
                padding: 0 0 2.5em;
                border-radius: 0.5em;
                background-color: var(--secondary-bg);

                p {
                    margin: 0 10% 1.75em;
                }

                h3 {
                    margin: 1.25em 10% 0.5em;
                }

                a {
                    display: block;
                    /* width: fit-content; */
                    color: var(--terciary-bg);
                    background-color: var(--primary-bg);
                    margin: 0 10%;
                    text-wrap: balance;
                    padding: 0.5em 1em;
                    border-radius: 0.5em;
                    transition: transform 0.5s;
                    text-align: center;

                    &:hover {
                        transform: scale(1.07);
                    }
                }

                img {
                    border-radius: 0.5em 0.5em 0 0;
                }
            }
        }
    }

    @media screen and (541px <=width) {
        section {
            &:nth-of-type(2) {
                display: flex;
                justify-content: space-between;

                article {
                    flex-basis: 45%;

                    &:nth-of-type(3) {
                        margin: auto;
                    }
                }
            }

            &:nth-of-type(3) {
                article {
                    width: 80%;
                    margin: auto;
                }
            }
        }
    }

    @media screen and (925px <=width) {
        section {
            &:nth-of-type(2) {
                display: grid;
                grid-template: repeat(2, min-content) / 10% 1fr 1fr 1fr 10%;
                grid-template-areas:
                    "h2 h2 h2 h2 h2"
                    ". article1 article2 article3 .";

                img {
                    width: 75%;
                }

                article {
                    h3 {
                        font-size: 1.5em;
                    }

                    &:nth-of-type(1) {
                        grid-area: article1;
                    }

                    &:nth-of-type(2) {
                        grid-area: article2;
                    }

                    &:nth-of-type(3) {
                        grid-area: article3;
                    }
                }
            }

            &:nth-of-type(3) {
                article {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}