main {
    section {
        h2 {
            justify-self: left;
        }

        &:nth-of-type(2) {
            a {
                color: var(--text);
                background-color: var(--secondary-bg);
            }

            p {
                margin: 1.5em 0;
            }

            h3 {
                text-wrap: balance;
            }

            article {
                padding: 0;
                text-align: center;
                background-color: initial;
            }

            img {
                width: 70%;
                border-radius: 50%;
            }
        }
    }

    article {
        overflow: hidden;
        padding: 0 0 2.5em;
        border-radius: 0.5em;
        background-color: var(--secondary-bg);

        p {
            margin: 0.75em 10% 1.75em;
        }

        h3 {
            font-size: 1.25em;
            font-weight: bold;
            margin: 1em 10% 0;
        }

        a {
            display: block;
            width: fit-content;
            color: var(--terciary-bg);
            background-color: var(--primary-bg);
            margin: 0 auto;
        }
    }

    @media screen and (541px <=width) {
        section {
            &:nth-of-type(2) {
                display: flex;
                justify-content: space-between;

                article {
                    flex-basis: 45%;

                    &:nth-of-type(3) {
                        margin: auto;
                    }
                }
            }

            &:nth-of-type(3) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        article {
            h3 {
                font-size: 1.25em;
            }
        }
    }

    @media screen and (1083px <=width) {
        section {
            &:nth-of-type(2) {
                display: grid;
                grid-template: repeat(2, min-content) / 10% auto auto auto 10%;
                grid-template-areas: "h2 h2 h2 h2 h2"
                    ". article1 article2 article3 .";

                h2 {
                    grid-area: h2;
                }

                img {
                    width: 75%;
                }

                article {
                    h3 {
                        font-size: 1.5em;
                    }

                    &:nth-of-type(1) {
                        grid-area: article1;
                    }

                    &:nth-of-type(2) {
                        grid-area: article2;
                    }

                    &:nth-of-type(3) {
                        grid-area: article3;
                    }
                }
            }

            &:nth-of-type(3) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}