main {
    section {
        &:nth-of-type(2) {
            justify-items: center;

            article {
                max-width: 384px;
            }

            p {
                text-align: center;
            }

            h3 {
                margin: 1.25em 0;
            }

            img {
                width: 65%;
                margin: auto;
                border-radius: 50%;
            }
        }

        &:nth-of-type(3) {
            justify-items: center;

            article {
                border-radius: 0.5em;
                overflow: hidden;
                background-color: var(--secondary-bg);
                box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
                max-width: 384px;
            }

            div {
                gap: 1.5em;
                justify-items: center;
                padding: 2em;
            }

            p {
                text-align: center;
            }

            a {
                padding: 1em;
                border-radius: 0.5em;
                transition: transform 0.5s;
                background-color: var(--primary-bg);

                &:hover {
                    transform: scale(1.07);
                }
            }
        }

        @media screen and (768px <=width<=1280px) {
            &:nth-of-type(2) {
                display: flex;
                justify-content: space-between;

                article {
                    flex-basis: 40%;

                    &:nth-of-type(3) {
                        margin: auto;
                    }
                }

                img {
                    width: 80%;
                }
            }

            &:nth-of-type(3) {
                article {
                    display: grid;
                    gap: 1em 0;
                    align-items: center;
                    grid-template-columns: repeat(2, 1fr);
                    max-width: none;

                    img {
                        height: 100%;
                    }
                }
            }
        }

        @media screen and (1280px <=width) {
            &:nth-of-type(1) {
                grid-template-areas:
                    "_1 _1 _1"
                    "_2 _3 _4";
            }

            &:nth-of-type(2) {
                grid-template-areas:
                    "_1 _1 _1"
                    "_2 _3 _4";
            }

            &:nth-of-type(3) {
                grid-template-areas:
                    "_1 _1 _1"
                    "_2 _3 _4"
                    "_5 _6 _7"
                    "_8 _9 _10"
                    "_11 _12 _13";

                article {
                    max-width: none;
                }
            }
        }
    }
}