main {
	@media screen and (541px <=width) {
		section {
			img {
				width: 75%;
				margin: auto;
			}
		}
	}

	@media screen and (1024px <=width) {
		section {
			img {
				width: 100%;
				height: 100%;
				margin: 0;
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"h2 h2 h2"
					"ul img1 img2"
					"p img1 img2";

				p {
					&:nth-of-type(1) {
						grid-area: p;
					}
				}

				img {
					&:nth-of-type(1) {
						grid-area: img1;
					}

					&:nth-of-type(2) {
						grid-area: img2;
					}
				}
			}

			&:nth-of-type(3) {
				grid-template-areas:
					"h2 h2 h2"
					"p1 img p3"
					"p2 img .";

				p {
					&:nth-of-type(2) {
						grid-area: p2;
					}

					&:nth-of-type(3) {
						grid-area: p3;
					}
				}

				img {
					grid-area: img;
				}
			}
		}
	}
}