main {
	@media screen and (541px <=width) {
		section {
			picture {
				width: 75%;
				margin: auto;
			}
		}
	}

	@media screen and (1083px <=width) {
		section {
			picture {
				width: 100%;
			}

			&:nth-of-type(2) {
				grid-template-areas: "h2 h2 h2"
					"ul picture1 picture2"
					"p picture1 picture2";

				p {
					&:nth-of-type(1) {
						grid-area: p;
					}
				}

				picture {
					&:nth-of-type(1) {
						grid-area: picture1;
					}

					&:nth-of-type(2) {
						grid-area: picture2;
					}
				}
			}

			&:nth-of-type(3) {
				display: initial;

				h2 {
					margin-bottom: var(--row-gap);
				}

				p {
					&:nth-of-type(1) {
						margin-bottom: var(--row-gap);
					}

					&:nth-of-type(3) {
						margin-bottom: var(--row-gap);
					}
				}
			}
		}
	}
}