main {
	h3 {
		margin-bottom: 1em;
	}

	@media screen and (925px <=width) {
		section {
			&:nth-of-type(2) {
				grid-template-areas: "h2 h2 h2"
					"p1 p2 p3"
					"figure1 figure2 figure3";

				p {
					&:nth-of-type(1) {
						grid-area: p1;
					}

					&:nth-of-type(2) {
						grid-area: p2;
					}

					&:nth-of-type(3) {
						grid-area: p3;
					}
				}

				figure {
					&:nth-of-type(1) {
						grid-area: figure1;
					}

					&:nth-of-type(2) {
						grid-area: figure2;
					}

					&:nth-of-type(3) {
						grid-area: figure3;
					}
				}
			}

			&:nth-of-type(5) {
				grid-template-columns: 1fr;

				ul {
					display: initial;
				}

				li {
					margin-bottom: 0.8em;
				}
			}
		}
	}
}