main {
	section {
		hgroup {
			padding: 1rem 0;
			/* background-color: var(--secondary-bg); */

			p {
				text-align: center;
			}
		}

		article {
			/* display: grid;
			align-content: flex-start; */

			border-radius: 0.5em;
			box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
			background-color: var(--secondary-bg);

			>p {
				padding: 2em;
			}
		}
	}
}

@media screen and (1024px <=width) {
	section {
		&:nth-of-type(5) {
			img {
				height: 100%;
			}
		}
	}
}