main {
	section {
		img {
			width: 75%;
			border-radius: 50%;
			display: block;
			margin: 2em auto;
		}
	}

	@media screen and (541px <=width) {
		section {
			&:nth-of-type(2) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	@media screen and (1024px <=width) {
		section {
			&:nth-of-type(2) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}