main {
	section {
		div {
			display: flex;
			flex-direction: column;
			row-gap: 1.25em;
		}
	}

	@media screen and (1083px <=width) {
		section {
			&:nth-of-type(2) {
				grid-template-areas: "h2 h2 h2"
					"p1 div ."
					"p2 div .";

				p {
					&:nth-of-type(2) {
						grid-area: p2;
					}
				}

				div {
					grid-area: div;
				}
			}

			ul {
				gap: 0.8em;
			}
		}
	}
}