main {
	hgroup {
		padding: 1rem 0;
	}

	article {
		box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
		background-color: var(--secondary-bg);
		border-radius: 0.5em;
		padding-bottom: 2rem;

		>p {
			padding: 2em 2em 0;
		}
	}
}