main {
	article {
		border-radius: 0.5em;
		box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
		background-color: var(--secondary-bg);
		padding-bottom: 2rem;
		overflow: hidden;
		grid-area: pf;

		>p {
			padding: 0 2em 0;

		}
	}

	h3 {
		margin: 1em 0 0.75em;

	}
}