:root {
	--primary-bg: hsl(180, 42%, 93%);
	--secondary-bg: hsl(180, 81%, 58%);
	--background-text: hsl(from var(--secondary-bg) h calc(s) calc(l/1.25) / 1);
	--terciary-bg: hsl(180, 100%, 16%);
	--text: hsla(0, 0%, 0%, 0.8);
	--h1: hsl(0, 0%, 100%);

	--row-gap: 3vw;
	--column-gap: 3.75vw;
	scrollbar-color: var(--secondary-bg) var(--primary-bg);
}

body {
	font: 4.5vw/1.5 "Poppins", sans-serif;
	color: var(--text);
	background-color: var(--primary-bg);

	&:focus-visible {
		outline: var(--text) solid 4px;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		font-weight: bold;
		text-align: center;
		text-wrap: balance;
		flex-basis: 100%;
		grid-column: 1/-1;
		column-span: all;
		/* line-height: initial; */
	}

	h2 {
		font-size: 1.45em;
	}



	li {
		&::marker {
			font-weight: bold;
		}
	}

	@media screen and (541px <=width) {
		font-size: 2.5vw;

		h2 {
			font-size: 1.5em;
		}
	}

	@media screen and (1083px <=width) {
		font-size: 0.95vw;

		h2 {
			font-size: 2em;
			text-align: left;
		}
	}
}