html {
	--primary-bg: hsla(180, 42%, 93%, 1);
	--secondary-bg: hsla(180, 81%, 58%, 1);
	--body-text: hsla(0, 0%, 0%, 0.85);
	--heading-text: hsla(0, 0%, 0%, 1);
	--box-shadow: hsla(0, 0%, 0%, 0.25);
	--hover-text: hsla(from var(--secondary-bg) h s calc(l/1.25));

	color: var(--body-text);
	background-color: var(--primary-bg);
	scrollbar-color: var(--secondary-bg) var(--primary-bg);
}

:focus-visible {
	outline: var(--body-text) solid 4px;
}

h1 {
	color: var(--primary-bg);
}

:is(h2, h3, strong) {
	color: var(--heading-text);
}

img:has(+h1) {
	filter: brightness(40%);
}

article {
	background-color: var(--secondary-bg);
	box-shadow: 0 2px 20px var(--box-shadow);
}