footer {
    display: grid;
    gap: 3em 0;
    padding: 2em 10vw;
    background-color: var(--secondary-bg);

    section {
        display: grid;
        gap: 1.25em 0;

        &:nth-of-type(1) {
            ul {
                display: grid;
                gap: 0.4em 2.5em;
            }
        }

        &:nth-of-type(2) {
            ul {
                display: grid;
                gap: 1.5em;
            }

            img {
                width: 50%;
            }
        }
    }

    h2 {
        text-align: left;
    }

    @media screen and (541px <=width) {
        padding: 2em 7.5vw;

        section {
            &:nth-of-type(1) {
                ul {
                    display: flex;
                }
            }

            &:nth-of-type(2) {
                ul {
                    grid-template-columns: repeat(3, auto);
                    gap: 3em;
                    align-items: center;
                }

                img {
                    width: 100%;
                }
            }
        }

        h2 {
            font-size: 1.4em;
        }
    }

    @media screen and (1083px <=width) {
        justify-content: space-between;
        grid-template-columns: auto 60%;

        h2 {
            font-size: 1.5em;
        }

        section {
            &:nth-of-type(1) {
                ul {
                    display: grid;
                }
            }

            &:nth-of-type(2) {
                ul {
                    gap: 5em;
                }
            }
        }
    }
}