footer {
    display: grid;
    gap: 3em 0;
    padding: 2em 10vw;
    background-color: var(--secondary-bg);
    align-items: flex-start;

    h2 {
        text-align: left;
        font-size: 1.5rem;
    }

    section {
        display: grid;
        gap: 1.75em 0;
    }

    menu {
        display: grid;
        gap: 1em 2.5em;
    }

    ul {
        display: grid;
        gap: 1.5em;
    }

    img {
        width: 50%;
    }

    @media screen and (541px <=width) {
        grid-template-columns: auto 60%;

        h2 {
            font-size: 1.4em;
        }
    }

    @media screen and (1024px <=width) {
        padding: 2em 7.5vw;

        ul {
            grid-template-columns: repeat(3, auto);
            gap: 5em;
            align-items: center;
        }

        h2 {
            font-size: 1.5em;
        }

        img {
            width: 100%;
        }
    }
}