header {
    position: sticky;
    top: 0;
    padding: 1em 10vw;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0 1em;
    z-index: 2;
    background-color: var(--secondary-bg);
    /* box-shadow: 0 0 0 0.15em #6bc9e6; */

    [href="#main"] {
        display: none;
    }

    >[href="./"] {
        font-size: 1.5em;
        line-height: initial;
        margin-right: auto;
    }

    button:has(path) {
        width: 1em;

        path {
            stroke: black;
            stroke-width: 3em;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 1em 0;
        top: 0;
        right: -100%;
        height: 100vh;
        background-color: inherit;
        visibility: hidden;
        transition-property: right, visibility;
        transition-duration: 0.7s;

        &:popover-open {
            right: 0;
            visibility: visible;

            &::backdrop {
                background-color: #000000;
                opacity: 75%;
            }
        }

        button:has(path) {
            margin: 1.35em 10vw 0 auto;
        }

        a {
            padding: 0.35em 2em;
            display: list-item;
        }

        button:has(+[popover]) {
            display: list-item;
            width: 100%;
            padding: 0.35em 2em;
            text-align: left;

            &::before {
                content: "►" / "";
                margin-right: 0.25em;
            }

            &:has(+:popover-open) {
                &::before {
                    content: "▼" / "";
                }
            }
        }

        [popovertarget="dropdown1"] {
            anchor-name: --anchor-1;
        }

        [popovertarget="dropdown2"] {
            anchor-name: --anchor-2;
        }

        [popovertarget="dropdown3"] {
            anchor-name: --anchor-3;
        }

        /* li:has(:popover-open) {
            position-anchor: --dropdown1;
            position: absolute;
            top: anchor(bottom);
            left: anchor(left);
        } */

        #dropdown1 {
            anchor-name: --dropdown1;
            position-anchor: --anchor-1;
        }

        #dropdown2 {
            anchor-name: --dropdown2;
            position-anchor: --anchor-2;
        }

        #dropdown3 {
            anchor-name: --dropdown3;
            position-anchor: --anchor-3;
        }

        [popover] {
            position: absolute;
            top: anchor(bottom);
            left: anchor(left);
            overflow: visible;
            background-color: var(--secondary-bg);

            &:hover {
                display: block;
            }
        }
    }

    @media screen and (541px <=width) {
        padding: 1.35em 7.5vw;
        gap: 0 1.5em;

        >[href="./"] {
            font-size: 2em;
        }

        button:has(path) {
            width: 1.25em;
        }

        nav {
            button:has(path) {
                margin: 1.65em 7.5vw 0 auto;
            }
        }
    }

    @media screen and (1083px <=width) {
        padding: 1em 7.5vw;

        [href="#main"] {
            display: initial;
            position: absolute;
            top: -100%;

            &:focus {
                font-size: 1.5em;
                padding: 1em;
                top: 50vh;
                left: 50vw;
                transform: translate(-50%, -50%);
                background-color: inherit;
            }
        }

        >[href="./"] {
            font-size: 2.25em;
        }

        button:has(path) {
            display: none;
        }

        nav {
            all: unset;
            margin-right: 7em;

            >ul {
                display: flex;
            }

            :is(a, button:has(+[popover])) {
                padding: 0.5em 0.75em;
                transition: background-color 0.35s;
                border-radius: 0.2em;

                &:hover {
                    background-color: var(--background-text);
                }
            }

            /* [popovertarget="dropdown1"] {
                anchor-name: --anchor-1;
            }

            [popovertarget="dropdown2"] {
                anchor-name: --anchor-2;
            }

            [popovertarget="dropdown3"] {
                anchor-name: --anchor-3;
            }

            #dropdown1 {
                position-anchor: --anchor-1;
            }

            #dropdown2 {
                position-anchor: --anchor-2;
            }

            #dropdown3 {
                position-anchor: --anchor-3;
            } */

            [popovertarget]:active {
                pointer-events: none;
            }

            li:has([popovertarget]):hover [popover] {
                display: block;
            }

            li:has([popovertarget]):hover [popovertarget] {
                background-color: var(--background-text);

                &::before {
                    content: "▼" / "";
                }
            }
        }
    }
}