header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.75rem 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg);
    box-shadow: 0 2px 20px var(--box-shadow);

    [href="#main"] {
        display: none;
    }

    >[href="./index.html"] {
        width: 40px;
    }

    button {
        display: list-item;
        /* padding: 1em; */

        svg {
            width: 25px;
        }

        path {
            stroke-width: 80px;
            stroke: var(--heading-text);
        }
    }

    nav {
        inset: 0 -100% auto auto;
        display: block;
        padding-bottom: 1.5rem;
        height: 100vh;
        visibility: hidden;
        transition: inset 700ms, visibility 700ms;
        background-color: inherit;
        box-shadow: -5px 0 20px var(--box-shadow);

        &:popover-open {
            inset: 0 0 auto auto;
            visibility: visible;
        }

        &::backdrop {
            backdrop-filter: brightness(0.25);
        }

        button {
            margin: 1.25rem 10vw 0.75rem auto;
        }

        :is(summary, a) {
            padding: 0.75rem 2.5rem;
            display: list-item;
        }

        details {
            &::details-content {
                height: 0;
                transition: content-visibility 500ms allow-discrete, height 500ms;
                background-color: var(--secondary-bg);
                overflow: clip;
            }

            &[open]::details-content {
                height: auto;
            }

            a {
                padding-left: 4rem;
            }
        }

        :is(details:has([aria-current="page"]) summary, [aria-current="page"]) {
            font-weight: bold;
            text-decoration: underline solid currentColor;
        }
    }

    @media (1024px <=width) {
        padding: 0.5rem 7.5vw;

        [href="#main"] {
            display: initial;
            position: fixed;
            top: -100%;

            &:focus {
                font-size: 1.5rem;
                padding: 1rem;
                inset: 50vh auto auto 50vw;
                transform: translate(-50%, -50%);
                background-color: inherit;
            }
        }

        button {
            display: none;
        }

        nav {
            all: unset;

            >menu {
                display: flex;
            }

            :is(summary, a) {
                padding: 0.75rem;
                transition: background-color 350ms;
                border-radius: 5px;

                &:hover {
                    background-color: var(--hover-text);
                }
            }

            details {
                &::details-content {
                    position: absolute;
                }

                a {
                    padding: 0.85rem 1.25rem;
                }
            }
        }
    }
}