main {
	--section-padding-inline: 10vw;

	display: grid;
	gap: 5rem 0;
	padding-bottom: 7rem;

	>img {
		anchor-name: --banner-img;
		height: 50vh;
	}

	h1 {
		position: absolute;
		position-anchor: --banner-img;
		place-self: anchor-center;
		padding-inline: var(--section-padding-inline);
	}

	section {
		display: grid;
		gap: 2.5rem 5vw;
		padding-inline: var(--section-padding-inline);

		img {
			justify-self: center;
		}
	}

	div {
		display: grid;
		gap: inherit;
	}

	ul {
		display: grid;
		row-gap: 2rem;
		column-gap: inherit;
		column-count: 3;
	}

	figure,
	hgroup {
		display: grid;
		gap: 1rem 0;
	}

	article {
		display: grid;
		gap: 2rem;
		padding-bottom: 2.5rem;
		clip-path: inset(0 round 10px);
		background-color: var(--secondary-bg);
		box-shadow: 0 2px 20px var(--box-shadow);

		>:not(img) {
			padding-inline: 2rem;
		}
	}

	@media (width<768px) {
		:is(article, figure) {
			max-width: 360px;
			justify-self: center;
		}
	}

	@media (768px <=width) {
		section {
			grid-template-columns: repeat(12, 1fr);

			>:nth-child(1) {
				grid-area: _1;
			}

			>:nth-child(2) {
				grid-area: _2;
			}

			>:nth-child(3) {
				grid-area: _3;
			}

			>:nth-child(4) {
				grid-area: _4;
			}

			>:nth-child(5) {
				grid-area: _5;
			}

			>:nth-child(6) {
				grid-area: _6;
			}

			>:nth-child(7) {
				grid-area: _7;
			}

			>:nth-child(8) {
				grid-area: _8;
			}

			>:nth-child(9) {
				grid-area: _9;
			}

			>:nth-child(10) {
				grid-area: _10;
			}

			>:nth-child(11) {
				grid-area: _11;
			}

			>:nth-child(12) {
				grid-area: _12;
			}

			>:nth-child(13) {
				grid-area: _13;
			}

			>:nth-child(14) {
				grid-area: _14;
			}
		}
	}

	@media (1024px <=width) {
		--section-padding-inline: 17.5vw;

		>img {
			height: auto;
		}
	}

	@media (1280px <=width) {
		--section-padding-inline: 7.5vw;

		section {
			gap: 2.25rem 4vw;

			>img {
				height: 100%;
			}
		}
	}
}