main {
	--section-padding-inline: 10vw;

	display: grid;
	gap: 5rem 0;
	padding-bottom: 7rem;

	>img {
		anchor-name: --banner-img;
		height: 50vh;
	}

	h1 {
		position: absolute;
		position-anchor: --banner-img;
		place-self: anchor-center;
		padding-inline: var(--section-padding-inline);
	}

	div {
		display: grid;
		gap: inherit;
	}

	ul {
		display: grid;
		row-gap: 2rem;
		column-gap: inherit;
		column-count: 3;
	}

	figure,
	hgroup {
		display: grid;
		gap: 1rem 0;
	}

	article {
		display: grid;
		gap: 2rem;
		padding-bottom: 2rem;
		clip-path: inset(0 round 10px);
		background-color: var(--secondary-bg);
		box-shadow: 0 2px 20px var(--box-shadow);

		>:not(img) {
			padding-inline: 2rem;
		}
	}

	section {
		display: grid;
		gap: 2.5rem 5vw;
		padding-inline: var(--section-padding-inline);

		img {
			justify-self: center;
		}
	}

	@media (width<768px) {
		:is(article, figure) {
			max-width: 360px;
			justify-self: center;
		}
	}

	@media (1024px <=width) {
		--section-padding-inline: 17.5vw;

		>img {
			height: auto;
		}
	}

	@media (1280px <=width) {
		--section-padding-inline: 7.5vw;

		section {
			grid-template-columns: repeat(3, 1fr);
			gap: 3vw 4vw;

			>img {
				height: 100%;
			}
		}
	}
}