main {
	display: grid;
	gap: 5rem 0;
	padding-bottom: 7rem;

	>img {
		anchor-name: --banner-img;
		height: 375px;
	}

	h1 {
		padding-inline: 10vw;
		position: absolute;
		position-anchor: --banner-img;
		place-self: anchor-center;
	}

	div {
		display: grid;
		gap: inherit;
		/* justify-items: center; */
	}

	ul {
		display: grid;
		row-gap: 2rem;
		column-gap: inherit;
		column-count: 3;
	}

	figure,
	hgroup {
		display: grid;
		gap: 1rem 0;
	}

	section {
		display: grid;
		gap: 2.5rem 3.25rem;
		padding-inline: 10vw;

		&:has(>div) {
			align-items: start;
		}
	}

	@media screen and (width<768px) {

		article,
		figure {
			max-width: 360px;
			justify-self: center;
		}
	}

	@media screen and (width<1280px) {
		img {
			justify-self: center;
		}
	}

	@media screen and (768px <=width) {
		>img {
			height: 550px;
		}
	}

	@media screen and (1024px <=width) {
		>img {
			height: auto;
		}

		h1 {
			padding-inline: 7.5vw;
		}

		section {
			padding-inline: 17.5vw;
		}
	}

	@media screen and (1280px <=width) {
		section {
			padding-inline: 7.5vw;
			grid-template-columns: repeat(3, 1fr);
			gap: 2.75rem 4vw;

			>img {
				height: 100%;
			}
		}
	}
}