main {
	display: flex;
	gap: 4em 0;
	padding: 0 0 4em;

	>div {
		position: relative;

		picture {
			filter: brightness(50%);
		}
	}

	h1 {
		width: 100%;
		padding: 0 10vw;
		font-size: 1.75em;
		color: var(--h1);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	section {
		display: grid;
		padding: 0 10vw;
		gap: 2.5em;
	}

	ul {
		list-style: decimal inside;
		gap: 1em 0;
	}

	@media screen and (541px <=width) {
		padding: 0 0 6em;

		section {
			padding: 0 7.5vw;
		}

		h1 {
			font-size: 2em;
			padding: 0 7.5vw;
		}

		ul {
			gap: 1.25em 2em;
		}
	}

	@media screen and (1083px <=width) {
		gap: 5em 0;

		h1 {
			font-size: 3.5em;
		}

		section {
			grid-template-columns: repeat(3, 1fr);
			gap: var(--row-gap) var(--column-gap);
			column-count: 3;
		}

		ul {
			display: initial;
			column-count: 3;
			column-gap: var(--column-gap);
		}

		li {
			margin-bottom: 1.5em;
		}
	}
}