main {
	display: grid;
	gap: 4em 0;
	padding: 0 0 4em;

	>div {
		position: relative;

		picture {
			filter: brightness(50%);
		}
	}

	h1 {
		width: 100%;
		padding: 0 10vw;
		font-size: 1.75rem;
		color: var(--primary-bg);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	h3 {
		font-size: 1.25rem;
	}

	section {
		display: grid;
		padding: 0 10vw;
		gap: 2.5em;
	}

	ul {
		gap: 1em var(--column-gap);
		column-count: 3;

		li {
			list-style: decimal inside;

		}
	}

	@media screen and (541px <=width) {
		padding: 0 0 6em;
		gap: 6em 0;

		h1 {
			font-size: 2.5rem;
			padding: 0 7.5vw;
		}

		ul {
			gap: 1.25em var(--column-gap);
		}
	}

	@media screen and (925px <=width) {
		section {
			padding: 0 7.5vw;
			grid-template-columns: repeat(3, 1fr);
			gap: var(--row-gap) var(--column-gap);
		}

		h1 {
			font-size: 3.5rem;
		}

		h3 {
			font-size: 1.5rem;
		}
	}
}