main {
	--section-padding-inline: 10vw;

	display: grid;
	gap: 5rem 0;
	padding-bottom: 7rem;

	>img {
		anchor-name: --banner-img;
		height: 375px;
	}

	h1 {
		position: absolute;
		position-anchor: --banner-img;
		place-self: anchor-center;
		padding-inline: var(--section-padding-inline);
	}

	div {
		display: grid;
		gap: inherit;
	}

	ul {
		display: grid;
		row-gap: 2rem;
		column-gap: inherit;
		column-count: 3;
	}

	figure,
	hgroup {
		display: grid;
		gap: 1em 0;
	}

	article {
		display: grid;
		align-content: start;
	}

	section {
		display: grid;
		gap: 2.5rem 3.25rem;
		padding-inline: var(--section-padding-inline);

		img {
			justify-self: center;
		}

		&:has(>div) {
			align-items: start;
		}
	}

	@media (width<768px) {

		article,
		figure {
			max-width: 360px;
			justify-self: center;
		}
	}

	@media (768px <=width) {
		>img {
			height: 550px;
		}
	}

	@media (1024px <=width) {
		--section-padding-inline: 17.5vw;

		>img {
			height: auto;
		}
	}

	@media (1280px <=width) {
		--section-padding-inline: 7.5vw;

		section {
			grid-template-columns: repeat(3, 1fr);
			gap: 2.75rem 4vw;

			>img {
				height: 100%;
			}
		}
	}
}