:is(*, *::before, *::after) {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font: inherit;
	color: inherit;
	text-decoration: none;
	text-wrap: pretty;
	break-inside: avoid;
	flex-wrap: wrap;
	/* text-align: justify;
	hyphens: auto; */
	background-color: transparent;
	inset: unset;
}

:is(ol, ul, menu) {
	list-style: none;
}

:is(img, video) {
	width: 100%;
	height: auto;
}

img {
	object-fit: cover;
	display: grid;
}

/* :is(h1, h2, h3, h4, h5, h6, p, a, summary, button, figcaption, li, label, legend, dt, dd) {
	text-box-trim: both;
	text-box-edge: cap alphabetic;
} */

summary {
	cursor: pointer;
}

button {
	cursor: pointer;
	display: grid;
}